
body {
    width: 100%;
}

h2 {
    margin-bottom: 1em;
}

.main-container {
    margin: auto;
    width: 80%;
    height: 100%;
    text-align: center;
    margin-top: 5em;
}

.img-picker {
    margin-top: 20%;
}